.horario {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    .cell {
        background-color: azure;
        padding: 5px;
    }
    .cell.free {
        opacity: 0.3;
    }
}