body {
  font-family: "Ubuntu", monospace;
  font-size: 14px;
  line-height: 120%;
  color: #555;
}

.horario {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  padding: 10px;

  .cell {
    border-radius: 5px;
    overflow: hidden;

    &.lecture {
      border: 1px solid #eee;
      display: flex;
      .sidebar {
        flex-shrink: 0;
        width: 10px;
        border-right: 1px solid #eee;
      }
      .body {
        flex-grow: 1;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .lecture-name {
        font-size: 18px;
        line-height: 120%;
        margin-bottom: 5px;
        text-wrap: balance;
        .book {
          flex-shrink: 0;

        }
      }
      .lecture-teacher {
        display: flex;
        gap: 4px;
        .time:first-child {
          margin-left: auto;
        }
      }
    }

    &.free {
      opacity: 0.7;
    }

    &.sector {
      display: flex;
      border: 1px solid #bbb;
      background-color: #ccc;
      display: flex;
      justify-content: space-between;
      .sector-name {
        font-size: 16px;
        padding-left: 4px;
        display: flex;
        align-items: center;
      }
      .times {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        .time {
          display: flex;
          gap: 4px;
          align-items: center;
        }
      }
    }

    &.day {
      font-size: 18px;
      text-transform: capitalize;
      text-align: center;
    }
  }


}
