body {
  font-family: "Ubuntu", monospace;
  font-size: 14px;
  line-height: 120%;
  color: #555;
}

.horario {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  padding: 10px;

  .cell {
    border-radius: 10px;
    overflow: hidden;

    &.span-2 {
      height: 150px;
    }

    &.lecture {
      border: 1px solid #cac9c9;
      display: flex;
      background-color: rgb(242, 245, 247);
      background: linear-gradient(to bottom right, var(--sidebar-color), var(--sidebar-color) 20%, rgb(242, 245, 247) 80%);

      .sidebar {
        display: none;
        flex-shrink: 0;
        width: 10px;
        border-right: 1px solid #eee;
        //background: linear-gradient(to top, var(--sidebar-color), rgb(242, 245, 247));
        //background: var(--sidebar-color);
        background-color: rgb(242, 245, 247);
      }
      .body {
        flex-grow: 1;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .lecture-name {
        font-size: 20px;
        font-weight: 500;
        line-height: 120%;
        margin-bottom: 5px;
        text-wrap: balance;
        color: black;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: rgb(242, 245, 247);
        width: fit-content;
      }
      .lecture-teacher {
        display: flex;
        justify-content: flex-end;
        gap: 4px;
        .time:last-child {
          margin-right: 10px;
        }
      }
    }

    &.free {
      opacity: 0.7;
    }

    &.day {
      font-size: 18px;
      text-transform: capitalize;
      text-align: center;
      padding-top: 50px;
      padding-bottom: 10px;
    }
  }


}
